<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
                <td th text="${FirstName}"></td>
                <td th text="${LastName}"></td>
                <td th text="${Age}"></td>
                <td th text="${Gender}"></td>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>Mike</td>
                <td>Smith</td>
                <td>45</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>Tom</td>
                <td>Hanks</td>
                <td>65</td>
                <td>MALE</td>
            </tr>
            <tr>
                <td>Ammy</td>
                <td>Bryan</td>
                <td>25</td>
                <td>Female</td>
            </tr>
    </tbody>
</table>


</body>
</html>